<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/users/register">add user</a>
<table th:if="${!users.isEmpty()}" border="1">
    <tr>
        <th>pic name</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>role</th>
        <div>
        <th th:if="${currentUser.role.name.equals('ADMIN')}">update</th>
        <th th:if="${currentUser.role.name.equals('ADMIN')}">delete</th>
        </div>
    </tr>


    <tr th:each="user:${users}">
        <td th:text="${user.picName}">
        </td>
        <td th:text="${user.getName()}">
        </td>
        <td th:text="${user.getSurname()}">
        </td>
        <td th:text="${user.getEmail()}">
        </td>
        <td th:text="${user.getRole()}">
        </td>
        <td th:if="${user.role.name.equals(currentUser.role.name) or currentUser.role.name.equals('ADMIN')}"><a
                th:href="@{'/users/update/'+${user.getId()}}">edit</a></td>
        <td th:if="${user.role.name.equals(currentUser.role.name) or currentUser.role.name.equals('ADMIN')}">
            <a th:href="@{'/users/delete/'+${user.getId()}}">delete</a></td>

    </tr>
</table>


</body>
</html>